
body {
  margin: 0 auto;
  // overflow: hidden;
}
.wrapper {
  max-width: 1488px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding-inline: 20px;
}


.hero {
  
  color: #ffffff;
  
  min-height: 800px;
  padding-top: 12px;
  position: relative;
  
  width: 100%;
  &__video {
    position: absolute;
    background-color: #000000;
    border-radius: 0 0 80px 80px;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    // z-index: -1;

    &:after {
      content: "";
      background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      top: 0;
      left: 0;
    }
    
  }
  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__flex {
    display: grid;
    height: 100%;
    gap: 138px;
  }
  &__header {
    position: relative;
    z-index: 2;
    img {
      display: block;
      width: 100%;
    }
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    // padding-bottom: 16px;
    position: relative;
    // &::after {
    //   content: "";
    //   display: block;
    //   width: 100%;
    //   height: 1px;
    //   background-color: rgba(255, 255, 255, 0.2);
    //   position: absolute;
    //   top: 100%;
    //   left: -100%;
    // }
    // &::before {
    //   content: "";
    //   display: block;
    //   width: 100%;
    //   height: 1px;
    //   background-color: rgba(255, 255, 255, 0.2);
    //   position: absolute;
    //   top: 100%;
    //   right: -100%;
    // }
  }
  &__body {
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
  .wrapper {
    position: relative;
    z-index: 5;
  }
  &__full-image {
    position: relative;
    z-index: 3;
    max-width: 100%;
    height: 1000px;
    overflow: hidden;
    background-image: url(../img/full.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    // img {
    //   display: block;
    //   width: 100%;
    //   width: 1920px;

    //   object-fit: cover;
    //   object-position: center;
    // }
  }
}

.two {
  position: relative;
  margin-top: -96px;
  z-index: 2;
  padding-bottom: 120px;
  &__body {
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      
    }
  }

}
